$click-dropdown-transition-duration: 0.3s;

.dropdown-click {
    user-select: none;

    &-button {
        display: flex;
        flex-direction: row;
        gap: $normal-gap;
        align-items: center;
        width: fit-content;
        padding: $small-gap;
        background-color: white;
        border: 1px $blue solid;
        border-radius: $small-border-radius;
        cursor: pointer;
    }

    &-arrow {
        stroke: black;
        stroke-width: 1px;
        stroke-linecap: round;
        transition: transform $click-dropdown-transition-duration cubic-bezier(0.05, 0.92, 0.31, 0.85);

        &-inverted {
            transform: rotate(180deg);
        }
    }

    &-items {
        position: absolute;
        background: white;
        border: 1px $blue solid;
        border-radius: $small-border-radius;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        z-index: 10;
        box-sizing: border-box;
        transition: height $click-dropdown-transition-duration linear, border-color $click-dropdown-transition-duration cubic-bezier(1, 0, 1, 0);

        &-container {
            position: relative;
        }

        &-hide {
            border-color: $purple;
        }
    }

    &-item {
        padding: $small-gap;
        cursor: pointer;
    }
}