.dropdown-hover {
    display: flex;
    flex-direction: row;
    gap: $normal-gap;
    width: fit-content;

    &-button {
        padding: $small-gap;
        border-radius: $small-border-radius;
        border: 1px $blue solid;
        color: $blue;
        cursor: pointer;
        height: fit-content;
        flex-shrink: 0;
    }

    &-items {
        display: flex;
        flex-direction: row;
        gap: $normal-gap;
        width: fit-content;
    }

    &-item {
        padding: $small-gap;
        color: $blue;
        cursor: pointer;
        border: 1px transparent solid;
        border-radius: $small-border-radius;
        transition: border-color 0.15s linear;

        &:hover {
            border: 1px $lightgrey solid;
        }
    }
}