.notfound {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: $large-gap;
    justify-content: center;
    align-items: center;

    &-message {
        font-size: $large-fs;
        font-weight: $bold-fw;
        max-width: 80%;
    }
}