// colours
$red: #ff7f7a;
$dark-red: rgb(167, 23, 7);
$lightgrey: rgb(194, 194, 194);
$cyan: #54e3e3;
$secondary: rgb(31, 31, 31);
$blue: #0600a3;
$purple: #b568f7;

// gap
$small-gap: 12px;
$x-small-gap: 4px;
$normal-gap: 24px;
$large-gap: 40px;
$x-large-gap: 60px;
$xx-large-gap: 150px;

// border radius
$small-border-radius: 10px;
$x-small-border-radius: 6px;
$large-border-radius: 30px;

// transition
$bg-transition: background-color 0.15s ease-in-out;
$opacity-transition: opacity 0.4s ease-in-out;

// font-size
$small-fs: 12px;
$normal-fs: 16px;
$slightly-large-fs: 24px;
$large-fs: 30px;
$x-large-fs: 60px;

// font-weight
$light-fw: 300;
$normal-fw: 400;
$bold-fw: 700;
$light-bold-fw: 550;

// line-height
$normal-line-h: 150%;

// viewport
$desktop: 968px;

* {
    color: black;
    font-size: $normal-fs;
    font-weight: $normal-fw;
    letter-spacing: 0.01em;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

.central-body {
    width: 60vw;
    max-width: 700px;
    padding-top: 15vh;
    padding-bottom: 60px;
    margin: auto;

    @media(max-width: $desktop) {
        width: 90vw;
        padding-top: 60px;
        padding-bottom: 20px;
    }
}

.link {
    color: $blue;
    text-decoration: underline;
}

.small-img-container {
    height: 25px;
    width: 25px;
    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.text-justify {
    text-align: justify;
}

.App {
    overflow-x: hidden;
}

@import './components/header/header.scss';
@import './components/guides/django-on-heroku/index.scss';
@import './components/stepper/index.scss';
@import './components/home/index.scss';
@import './components/pagination/index.scss';
@import './components/projects/matchminer/index.scss';
@import './components/tooltip/index.scss';
@import './components/home/sections/experience.scss';
@import './components/home/sections/activities.scss';
@import './components/dropdown/hover-dropdown.scss';
@import './components/footer/footer.scss';
@import './components/dropdown/click-dropdown.scss';
@import './components/notfound/not-found.scss';
@import './components/modal/modal.scss';
