$transition-duration: 0.2s;
$transition-style: linear;

.stepper {
    position: fixed;
    top: 100px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: $normal-gap;
    user-select: none;
    z-index: 10;

    @media (max-width: $desktop) {
        top: 0px;
        right: 0px;
        left: auto;
        flex-direction: row;
        width: calc(100vw - 68px);
        overflow: auto;
        cursor: pointer;
        height: 40px;

        &-overflow {
            box-shadow: inset -13px 0px 10px -15px;
        }

        &-scrolled {
            box-shadow: inset 10px 0px 10px -15px;
        }
    }

    &-step {
        display: flex;
        flex-direction: row;
        gap: $small-gap;
        align-items: center;
        z-index: -10;

        @media (max-width: $desktop) {
            flex-direction: column;
            gap: $x-small-gap;
            flex-shrink: 0;
        }

        &-circle {
            height: 18px;
            width: 18px;
            border: 2px solid black;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color $transition-duration $transition-style, border-color $transition-duration $transition-style;

            @media (max-width: $desktop) {
                height: 5px;
                width: 100%;
                border: none;
                background-color: $dark-red;
                border-radius: 0px;
            }
        }

        &-text {
            font-size: $small-fs;
            opacity: 0;
            transition: opacity $transition-duration $transition-style;

            @media (max-width: $desktop) {
                opacity: 1;
                transition: $menu-icon-transition;

                &-hide {
                    transform: translateY(-200%);
                }
            }
        }

        &-active {
            cursor: pointer;

            & .stepper-step-circle {
                background-color: $dark-red;
            }

            & .stepper-step-text {
                opacity: 1;
            }
        }

        &-hover {
            cursor: pointer;

            & .stepper-step-circle {
                border: 2px solid $red;

                @media (max-width: $desktop) {
                    border: none;
                }
            }

            & .stepper-step-text {
                opacity: 1;
            }
        }
    }
}