.ultimate-tictactoe {
    display: flex;
    flex-direction: column;
    gap: $large-gap;
    align-items: center;
    padding: 100px 0px;

    &-title {
        font-size: $x-large-fs;
        font-weight: $bold-fw;

        @media (max-width: $desktop) {
            padding: $normal-gap;
        }
    }

    &-terminal {
        background-color: black;
        padding: $small-gap;
        display: flex;
        flex-direction: column;
        gap: $small-gap;

        * {
            color: white;
            font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        }

        &-log {
            width: 60vw;
            max-width: 800px;
            height: 30vw;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: $small-gap;

            @media (max-width: $desktop) {
                width: 80vw;
                height: 40vw;
            }
        }

        &-text {
            white-space: pre-wrap;
        }

        &-input {
            display: flex;
            flex-direction: row;
            gap: $small-gap;
            align-items: center;

            input {
                background-color: black;
                border: none;
                outline: none;
            }
        }
    }
}
